.container {
  min-height: 100%;
  display: none;
  min-width: 480px;
}

#container-landing {
  height: 100vh;
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/b7/1d/d1/b71dd1f4a388bc9cd2772d630bf78a4f.jpg');
  background-size: cover;
  display: block;
}

#title {
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  padding: 24px;
  text-align: center;
  color: white;
  font-weight: normal;
  background-color: rgba(0,0,0,.5);
}

#title h2 {
  font-size: 48px;
}

#title button {
  padding: 8px;
  font-size: 20px;
}

#title a {
  color: white;
}

form {
  position: relative;
  top: 50vh;
  transform: translateY(-100%);
}

#create-profile div,
#login div {
  width: 480px;
  margin: auto;
  margin-top: 18px;
  text-align: center;
}

#create-profile div label {
  width: 211px;
}

.long {
  width: 75%;
}

#header h1 {
  display: inline-block;
  transform: translateY(-75%);
}

#header span {
  display: inline-block;
  float: right;
}

#next,
#previous {
  display: inline-block;
  margin-right: 48px;
  margin-left: 48px;
}

.graph {
  transform: rotate(180deg);
  margin: auto;
  border-top-style: solid;
  border-right-style: solid;
  border-color: black;
  height: 320px;
  width: 480px;
  padding-top: -500px;
}

.bar {
  transform: rotate(180deg);
  display: inline-block;
  margin-left: 7px;
  background-color: lightblue;
  text-align: center;
  color: black;
}

.bar span {
  position: relative;
  top: -18px;
}

.tic {
  position: relative;
  bottom: 332px;
  transform: rotate(180deg);
  display: inline-block;
  margin-left: 7px;
  text-align: center;
}

h3 {
  text-align: center;
}

#views {
  position: relative;
  top: 16px;
}
